@media (max-width: 1200px) {
    canvas {
        width: 350px;
        height: 350px;
    }

    .editor-container {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {

.h-menu{
    display: flex;
}
    
.logo{
    display: none;
}

.navbar-container{
    border-radius: 0px;
}

    .editor-tools button {
        padding: 5px;
    }

    #range-input {
        padding: 0px;
    }

    #font-selector {
        padding: 0px;
        width: 50%;
        font-size: 15px;
    }

    #text-input-1 {
        padding: 5px 0px;
        font-size: 20px;
    }


    .share-icons {
        font-size: 15px;
    }

    .saved-memes-modal button {
        padding: 1px
    }

    .saved-memes-modal {
        left: 50%;
        top: 95%;
        height: 100px;
    }

    .saved-memes-modal img {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
    }

    .editor-container {
        margin-top: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .navbar-container .main-menu ul {
        display: none;
    }

    .nav-li {
        display: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    body {
        overflow-y: scroll;
        text-align: center;
    }


    body.menu-open {
        pointer-events: auto;
        opacity: 1;
    }

    .h-ul {
        background-color: #101010;
        width: fit-content;
        display: flex;
        box-shadow: 0px 2px rgb(140, 140, 140);
        margin: auto;
    }

    .h-li {
        font-size: 20px;
    }

    .h-menu-icon {
        display: block;
        font-size: 30px;
        background-color: #101010;
        padding: 0 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px
    }

    .h-menu-icon:hover {
        opacity: 0.7;
    }

    .h-menu-container {
        padding-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .h-menu {
        justify-content: space-evenly;
    }

    .main-header .main-nav {
        position: absolute;
        top: 130px;
        right: auto;
        border-inline-start: 1px solid #000000;
        min-width: 150px;
        transform: translateX(300%);
        transition: transform 1s;
    }

    .main-header .main-menu a:hover {
        color: #58c93a;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
        background-color: #151515;
    }

    h1 {
        display: none;
    }

    img {
        width: 170px;
        height: 170px;
    }

    footer {
        font-size: 1.2em;
    }

    canvas {
        width: 300px;
        height: 300px;
    }

    footer {
        margin: 50px 0;
    }

    .msg-modal {
        position: absolute;
        right: 10;
        bottom: 0;
        transform: translate(-20%, -20%);
        padding: 20px;
        background-color: #333;
        border-radius: 10px;
        border: 1px white solid;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    img {
        width: 150px;
        height: 150px;
    }

    canvas {
        width: 280px;
        height: 280px;
    }

}