

@media (max-width: 768px) {


*{
    padding: 0px;
    margin: 0px;
}
    .editor-tools {
        margin: auto;
        padding: 0px 50px;
    }

    .navbar-container {
        background: linear-gradient(#499e4c, #333);
        box-sizing: border-box;
        box-shadow: 0px 0px 15px #101010;
        border-radius: 0px;
    }

    .share-icons{
        padding-top: 20px;
    }

    /* 
    .editor-tools button {
        padding: 5px;
    } */
    /* 
    #font-selector {
        padding: 0px;
        width: 50%;
        font-size: 15px;
    }

    #text-input-1 {
        padding: 10px 15px;
        font-size: 15px;
    } */


    /* 
    .share-icons {
        font-size: 15px;
    }

    .saved-memes-modal button {
        padding: 1px
    } */

    /* .saved-memes-modal {
        left: 50%;
        top: 95%;
        height: 100px;
    } */


    /* .saved-memes-modal img {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
    }

    .editor-container {
        margin-top: 20px;
    } */
    .editor-container {
        background: linear-gradient(var(--editor-background), #a9a6a6);
        width: fit-content;
        height: fit-content;
        padding: 0px;
        margin: auto;
        box-shadow: 10px 10px rgb(0, 0, 0);
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .navbar-container .main-menu ul {
        display: none;
    }

    .nav-li {
        display: none;
    }



    body.menu-open {
        pointer-events: auto;
        opacity: 1;
    }

    .h-menu-icon {
        display: inline-block;
        font-size: 30px;
        background-color: #101010;
        padding: 0 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .h-menu-icon:hover {
        opacity: 0.7;
    }

    /* .h-menu-container {
        display: flex;
        flex-direction: column;
        margin: auto;
    } */


    .main-header .main-nav {
        position: absolute;
        top: 130px;
        right: auto;
        border-inline-start: 1px solid #000000;
        min-width: 150px;
        transform: translateX(300%);
        transition: transform 1s;
    }

    .main-header .main-menu a:hover {
        color: #58c93a;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
        background-color: #151515;
    }


    .h-ul-container {
        display: flex;
        background-color: #010101;
        width: 60px;
        height: auto;
    }

    .h-ul {
        display: flex;
        flex-direction: column;
    }

    .h-li {
        font-size: 10px;
    }


    h1 {
        display: none;
    }

    .gallery-container img {
        width: 170px;
        height: 170px;
    }

    footer {
        font-size: 1.2em;
    }

    canvas {
        width: 420px;
        height: 350px;
        margin: 0px;
        margin-bottom: 10px;
    }


    .close-btn {
        padding: 5px;
        margin-bottom: 15px;
    }

    footer {
        margin: 50px 0;
    }

    .msg-modal {
        position: absolute;
        right: 10;
        bottom: 0;
        transform: translate(-20%, -20%);
        padding: 20px;
        background-color: #333;
        border-radius: 10px;
        border: 1px white solid;
    }

    .nav-btns {
        background: none;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-btns button {
        font-size: 12px;
    }

    .share-icons {
        margin: 0px;
    }


}

@media (max-width: 500px) {
    h1 {
        font-size: 2em;
    }

    img {
        width: 200px;
        height: 200px;
    }




}