.editor-container {
    background: linear-gradient(var(--editor-background), #a9a6a6);
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: auto;
    box-shadow: 10px 10px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}


.main-container {
    display: flex;
    flex-direction: row;
}

canvas {
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.editor-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--editor-background), rgb(178, 178, 178));
    margin: auto;
    margin-left: 20px;
    border: #000000 1px solid;
}

.editor-tools button {
    padding: 1px;
    font-size: 1em;
    font-family: Lato;
    font-weight: 700;
    margin: 3px;
    padding: 10px;
}

.editor-tools {
    border-radius: 12px;
    padding: 10px;
    font-size: 1em;
}

.editor-tools i {
    color: #000000;
}

.close-btn {
    outline: 2px rgb(191, 191, 191) solid;
    border-radius: 50%;
    padding: 10px;
    background-color: #000000;
}

.text-input {
    margin: 20px 0px;
}

.close-btn:hover {
    cursor: pointer;
    outline: 2px rgb(255, 0, 0) solid;

}

#text-input-1 {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1rem;
}

#text-input-1:focus {
    background-color: #b2f2f8;
}


.close-btn-container {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
}

.color-btn {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: #e3e2e2;
    margin-right: 5px;
    padding: 5px;
    border: none;
}

.color-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.upper-btns {
    display: flex;
    align-items: center;
    gap: 2px;
}

.erase-btns {
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.erase-btns button {
    margin: 0;
    font-size: 20px;
    background-color: #e3e2e2;
    gap: 5px;
}

.share-icons {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: fit-content;
    margin-top: 50px;
    font-size: 20px;
    gap: 2.5em;
    border-radius: 10px;
    padding: 5px;
}

.share-icons i {
    color: rgb(55, 55, 55);
    font-size: 1.5em;
}

.share-icons i:hover {
    cursor: pointer;
    color: darkblue;
}


.donwload-link i {
    color: inherit;
}

#font-selector {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

#range-input {
    width: 90%;
    appearance: none;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #e3e2e2;
}

.nav-btns {
    background-color: #e3e2e2;
    margin: auto;
    border-radius: 20px;
    padding: 0px 10px;
    width: 30%;
}

.nav-btns button {
    padding: 0px;
}

.left-right-btns {
    justify-content: center;
    gap: 15px;
}

.upper-btns {
    justify-content: center;
}

.icon-img {
    width: 20px;
    height: 20px;
}

.font-selector {
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tools-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.font-align-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.main-header {
    display: none;
}