.navbar-container {
    background: linear-gradient(var(--editor-background), #101010);
    box-sizing: border-box;
    box-shadow: 0 0 5px #101010;
    gap: 50px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
}

.navbar-container ul {
    display: flex;
    align-self: center;
    padding-right: 50px;
    font-size: 2rem;
    text-shadow: 5px 0 10px black;
    color: rgb(255, 255, 255);
    font-weight: 700;
    gap: 50px;
}

.navbar-container li:hover {
    cursor: pointer;
    text-shadow: 1px 5px 5px rgb(112), 43, 43;
    box-sizing: border-box;
    animation: zoomIn;
}

.logo img {
    width: 100px;
    height: 100px;
}

h1 {
    margin-bottom: 10px;
}

