.navbar-container {
    background: linear-gradient(var(--editor-background), #333, #101010);
    box-sizing: border-box;
    box-shadow: 0 0 5px #101010;
    gap: 50px;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
}

.navbar-container ul {
    display: flex;
    align-self: center;
    padding-right: 50px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    gap: 50px;
}

.navbar-container li:hover {
    color: #101010;
    cursor: pointer;
    box-sizing: border-box;
}

.logo img {
    width: 100px;
    height: 100px;
}

h1 {
    margin-bottom: 10px;
}

