h1{
    font-size: 3rem;
}

img{
    width: 250px;
    height: 250px;
    float: right;
    margin: 5px;
    box-sizing: border-box;
    border: 5px black solid;
    border-radius: 20px;
}

img:hover{
    cursor: pointer;
    opacity: 0.7;
}

body{
    background-color: #333;
    text-align: center;
    font-family: Lato;
}

canvas{
    margin: auto;
}

h1,h2,h3{
    color: white;
}