* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

button {
    border-radius: 10px;
    background-color: #71b5bb;
    color: #fff;
    border: none;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

img:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 0 5px 5px black;
    animation-duration: 0.5s;
    animation-name: pulse;
}


body {
    background: linear-gradient(#333, #101010);
    text-align: center;
    font-family: Lato;
    height: 400vh;
}



canvas {
    margin: auto;
}

h1,
h2,
h3 {
    color: white;
}

